# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
.next/
out/
.expo/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS generated
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Prisma & Database
packages/database/prisma/migrations/dev.db
packages/database/prisma/migrations/dev.db-journal

# Secrets & Keys
*.pem
*.key
